<div class="main-container">
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
                <input #filterInput (keyup)="filter($event.target.value)" class="input" type="text" placeholder="Search Notes">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </div>

    <div class="notes-list">
        <app-note-card 
        *ngFor="let note of filteredNotes, index as i"
        [link]="generateNoteURL(note)" 
        [@itemAnim]
        (delete)="deleteNote(note)"
        [title]="note.title" 
        [body]="note.body"></app-note-card>     
    </div>

    <button class="button floating-add-button is-primary" routerLink="new">+ Add</button>
</div>